<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         name="showDetails"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="shapelang.actions.objectContribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="shapelang.actions.menu1"
               label="ShowDetails">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="shapelang.myActions.ShowDetails"
               definitionId="id"
               id="shapelang.actions.action2"
               label="showDetail"
               menubarPath="shapelang.actions.menu1/group">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="najahcommand.id"
            name="count">
      </command>
      <command
            id="fileCountcommand.id"
            name="FileDirectoryDetails">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="shapelang.actions.handlers.CountHandler"
            commandId="najahcommand.id">
      </handler>
      <handler
            class="shapelang.actions.handlers.FileDirectoryHandler"
            commandId="fileCountcommand.id">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="shapelang.actions.menus.sampleMenu"
               label="MDSE"
               mnemonic="M">
            <command
                  commandId="najahcommand.id"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Count">
            <command
                  commandId="najahcommand.id"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ContentOutline?after=additions ">
         <menu
               label="Count">
            <command
                  commandId="najahcommand.id"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=window">
         <menu
               label="FileDirectory">
            <command
                  commandId="fileCountcommand.id"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="shapelang.actions"
            name="HayaCategory">
      </category>
      <view
            category="shapelang.actions"
            class="shapelang.actions.views.FileView"
            icon="icons/sample.png"
            id="shapelang.actions.views.FileView"
            inject="true"
            name="FileDetailView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="shapelang.actions.views.FileView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
