<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         name="showDetails"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="shapelang.actions.objectContribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="shapelang.actions.menu1"
               label="ShowDetails">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="shapelang.myActions.ShowDetails"
               definitionId="id"
               id="shapelang.actions.action2"
               label="showDetail"
               menubarPath="shapelang.actions.menu1/group">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="shapelang.actions"
            name="HayaCategory">
      </category>
      <view
            category="shapelang.actions"
            class="shapelang.actions.views.FileView"
            icon="icons/sample.png"
            id="shapelang.actions.views.FileView"
            inject="true"
            name="FileDetailView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="shapelang.actions.views.FileView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="shapelang.actions.handlers.CountHandler"
            commandId="countid">
      </handler>
      <handler
            class="shapelang.actions.handlers.FileDirectoryHandler"
            commandId="showid">
      </handler>
      <handler
            class="shapelang.actions.handlers.ResourceRegisterHandler"
            commandId="text2modelid">
      </handler>
      <handler
            class="shapelang.actions.handlers.RegisterMetaModel"
            commandId="registermmid">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="countid"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="text2modelid"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="showid"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="registermmid"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="shapelang.actions.menus.sampleMenu"
               label="HayaActions"
               mnemonic="M">
            <command
                  commandId="countid"
                  id="shapelang.actions.menus.sampleCommand"
                  label="count"
                  mnemonic="S">
            </command>
            <command
                  commandId="text2modelid"
                  label="Text2Model"
                  style="push">
            </command>
            <command
                  commandId="showid"
                  label="ShowDetail"
                  style="push">
            </command>
            <command
                  commandId="registermmid"
                  label="register Meta Model"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="shapelang.actions.toolbars.sampleToolbar">
            <command
                  commandId="shapelang.actions.commands.sampleCommand"
                  icon="icons/sample.png"
                  id="shapelang.actions.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="shapelang.actions.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="shapelang.actions.commands.category"
            defaultHandler="shapelang.actions.handlers.FileDirectoryHandler"
            id="showid"
            name="ShowDetail">
      </command>
      <command
            categoryId="shapelang.actions.commands.category"
            defaultHandler="shapelang.actions.handlers.CountHandler"
            id="countid"
            name="count">
      </command>
      <command
            categoryId="shapelang.actions.commands.category"
            id="text2modelid"
            name="text2model">
      </command>
      <command
            categoryId="shapelang.actions.commands.category"
            id="registermmid"
            name="registerMetaModel">
      </command>
   </extension>

</plugin>
